<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2>Main UI Gannt Module. It Only Web Gantt Framework. It is Main cost dependence module. Odoo 12</h2>
            <p class="oe_mt32">299.00 Eur <a href="https://apps.odoo.com/apps/modules/12.0/web_gantt_native/">Main UI Web Gannt Module</a>
            <p class="oe_mt32">0.00 Eur <a href="https://apps.odoo.com/apps/modules/12.0/project_native/">Gantt Native view for Projects </a>
            <p class="oe_mt32">0.00 Eur <a href="https://apps.odoo.com/apps/modules/12.0/project_native_exchange/">Save/Load project in xml</a>
            <p class="oe_mt32">0.00 Eur <a href="https://apps.odoo.com/apps/modules/12.0/mrp_gantt_native/">Gantt Native view for MRP / Manufacture </a>
            <p class="oe_mt32">0.00 Eur <a href="https://apps.odoo.com/apps/modules/12.0/hr_holidays_gantt_native/">Gantt Native view for Leave </a>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2>More Info</h2>
            <p class="oe_mt32">YouTube Video PlayList <a href="https://www.youtube.com/playlist?list=PLmxcMU6Ko0NkqpGLcC44_GXo3_41pyLNx">Odoo Gantt Native</a>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2>Info - Gantt Native - PDF</h2>
            <p class="oe_mt32">First release.
                In future releases everything will be improved and added what is missing.
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2>Demo</h2>
            <p class="oe_mt32">user: demo Password:demog <a href="https://demo12.garage12.eu/">Odoo Gantt Demo </a>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">PyCairo: install first: <a href="https://pycairo.readthedocs.io/en/latest/">pycairo docs </a> </h2>
        <h3 class="oe_slogan"></h3>

        <div class="oe_span6">
            <p class="oe_mt32 oe_mb32 text-justify">
                apt install libcairo2-dev pkg-config
            </p>
            <p class="oe_mt32 oe_mb32 text-justify">
                pip3 install pycairo
            </p>
        </div>

    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">In project you can generate Gantt PDF</h2>
        <h3 class="oe_slogan"></h3>

        <div class="oe_span6">
            <p class="oe_mt32 oe_mb32 text-justify">
            On Gantt Item: project name -> click: right arrow
            </p>
            <img class="oe_picture oe_screenshot" src="Gantt_native_pdf_1.png"/>
        </div>

        <div class="oe_span6">
            <p class="oe_mt32 oe_mb32 text-justify">
             Wizard Open: select scale
            </p>
            <img class="oe_picture oe_screenshot" src="Gantt_native_pdf_2.png"/>
        </div>

        <div class="oe_span6">
            <p class="oe_mt32 oe_mb32 text-justify">
             Generated PDF
            </p>
            <img class="oe_picture oe_screenshot" src="Gantt_native_pdf_3.png"/>
        </div>

        <div class="oe_span6">
            <p class="oe_mt32 oe_mb32 text-justify">
             Print PDF: use Foxit for split by printer size paper.
            </p>
            <img class="oe_picture oe_screenshot" src="Gantt_native_pdf_4.png"/>
        </div>

    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2>More Info</h2>
            <p class="oe_mt32">YouTube Video <a href="https://youtu.be/mxN2HuSENM0">Generate PDF</a>
        </div>
    </div>
</section>



<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2>Need our service?</h2>
            <p class="oe_mt32">Contact us by <a href="mailto:vostraga@gmail.com">email</a>
            <ul>
                <li><a href="mailto:vostraga@gmail.com">vostraga@gmail.com <i class="fa fa-envelope-o"></i></a></li>
            </ul>
        </div>
    </div>
</section>


<section class="oe_container oe_separator">
</section>
